@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
/* Прибираємо відступи*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/***********HEADER***************/
.active-link{
    color: #8d9e89;
}
header{
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
header div{
    text-align: center;

}
header div h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;
}
header nav a{
    color: grey;
    font-size: 20px;
}

/************** MAIN *****************/
main{
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
/*пропорційно розтягнулось*/
    background-size: cover;
    display: flex;
/* Зазначимо що елементи стоятимуть один під одним */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    padding-top: 50px;
}
main p{
    font-size: 20px;
}
main h1{
    font-size: 100px;
/* Розсув літер формується наступним чином (можемо зазначити на скільки пікселів ми розсовуємо літери)*/
    letter-spacing: 30px;
}
main button{
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 30px;
    transition: 2s;
}
main button:hover{
    transform: scale(1.1);
    transition: 2s;
    color: #8d9e89
}
