*{
    margin: 0;
    padding: 0;
}

header{
    height: 4.476vh;
    background: #D9D9D9;
}
main{
    height: 73.679vh;
    display: flex;
}

.left{
    width: 50%;
    height: 73.679vh;
    background: #A4A4A4;
}

.right{
    width: 50%;
    height: 73.679vh;
}

.top{
    height: 50%;
    background: #7F7A7A;
}

.bottom{
    height: 50%;
    background: #615050;
}

.one{
    height: 9.937vh;
    background: #D9D9D9;
}

.two{
    height: 11.907vh;
    background: #AFA9A9;
}
