@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        display: flex;
        width: 768px;
        padding: 48px 24px;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    .icons{
        width: 348px;
        height: 258px;
        margin-bottom: 16px;
    }
}
