*{
    margin: 0;
}
 body{
     background-color: #000000;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

.preloader{
    width: 200px;
    height: 200px;
    background-color: #808080;
    animation: loader 0.8s linear alternate infinite;
    border-radius: 45%;
}

@keyframes loader {
    from{
    transform: rotate(0deg);
        border: 10px solid #2c2c2c;
    }
    25%{
        width: 150px;
        height: 150px;
        background-color: #808080;
        border: 20px solid #000000;

    }
    50%{
        width: 100px;
        height: 100px;
        background-color: #545454;
        border: 15px solid #2c2c2c;
    }
    75%{
        width: 50px;
        height: 50px;
        background-color: #2c2c2c;
        border: 10px solid #2c2c2c;
    }
    100%{
        width: 25px;
        height: 25px;
        background-color: #000000;
        border: 5px solid #000000;
    }
    to{
    transform: rotate(360deg);
    }
}
