*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.white{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr ;
    grid-template-areas:
    "header header"
    "Content-1 spam-1"
    "Content-2 spam-1"
    "Content-2 spam-2"
    "Content-3 spam-2"
    "footer footer";
    ;
}

.grid header{
    grid-area: header;
    background: #8D8484;
}

.grid main:nth-child(2){
    grid-area: Content-1;
    background: #776969;
}

.grid main:nth-child(3){
    grid-area: Content-2;
    background: #643030;
}

.grid main:nth-child(4){
    grid-area: Content-3;
    background: #441818;
}

.grid aside:nth-child(5){
    grid-area: spam-1;
    background: #937575;
}

.grid aside:nth-child(6){
    grid-area: spam-2;
    background: #644C4C;
}

.grid footer{
    grid-area: footer;
    background: #BDBDBD;
}
