.wrapper{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grid-wrapper{
    height: 90vh;
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
