*{
    margin: 0;
    padding: 0;
}
body{
   background-color: azure;
}
h1{
    text-align: center;
    padding: 30px 0;
}
.flex{
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.products{
    width: 250px;
    height: 300px;
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    border: 3px solid rgb(169, 169, 169 );
}
img{
    width: 80%;
}
