*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

header{
    width: 100%;
    height: 113px;
    background: #24204A;
    position: fixed;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-w-1400{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-w-1400 h2{
    color: #E5E5E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}

.header-w-1400 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.header-w-1400 a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
/*******************************************/
.light{
    height: 692px;
    background: #24204A;
    padding: 180px 132px 101px 115px;
}

.lamp{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lamp div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

button.top{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}

.lamp h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.lamp p{
    width: 570px;
    height: 85px;
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}

button.bottom{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.lamp div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamp div:nth-child(2) img{
    width: 243px;
    height: 318px;
}
/*****************************/

.illumination-block{
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illumination{
    width: 1153px;
    height: 100%;
    /*margin: 0 auto;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.flex-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-top-light{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.flex-top-light div:nth-child(1){
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-top-light div:nth-child(2) h4{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.flex-top-light div:nth-child(2) p{
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.flex-top div:nth-child(1) div:nth-child(1) {
    background: #FF6853;
}

.flex-top div:nth-child(2) div:nth-child(1) {
    background: #FF537C;
}
.flex-top div:nth-child(3) div:nth-child(1) {
    background: #80D2C4;
}
.flex-top div:nth-child(4) div:nth-child(1) {
    background: #3F50E7;
}
.flex-top div:nth-child(5) div:nth-child(1) {
    background: #95CB7C;
}

.illumination h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 50px 0;
}

.illumination p{
    color:  #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.flex-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-bottom div{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid  #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    margin-top: 50px;
}

.flex-bottom div p{
    width: 178px;
    color:  #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}

iframe{
    width: 100%;
    height: 664px;
    display: block;
}

footer{
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    width: 96px;
    height: 24.039px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}
