.container{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    background-color: grey;
}

.box{
    height: 100px;
    width: 100px;
    background-color: #FF7143;
}

.one{
    align-self: flex-start;
}

.two{
    align-self: flex-end;
}

.three{
    align-self: center;
}
