*{
    margin: 0;
}
body{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preloader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 5px solid #6d6d6d;
    border-right: 4px solid #484848;
    border-bottom: 3px solid #262626;
    border-left: 2px solid #000000;
    animation: loader 1s infinite linear;
}
@keyframes loader{
    to{
        transform:rotate(360deg)
    }
    from{
        transform:rotate(-360deg) scale(1.2);
    }
}
