div#block-one>ul>li:nth-child(2n){
    color: pink;
}

div#block-two>ul>li:nth-child(odd){
    font-size: 22px;
}

div#block-three>ul>li:nth-child(2n+4)::after{
    content:"!";
}

div#block-four>ul>li:last-child{
    color: rebeccapurple;
}

div#block-five>ul>li::first-letter{
    color: red;
    font-size: 30px;
}

