@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 400;
}
header{
    height: 20vh;
    background: #8D8484;

}

main{
    display: flex;
    color: #FFF;
}
.section-left{
    width: 73vw;
}
.upper{
    height: 20vh;
    background: #776969;
}
.middle{
    height: 20vh;
    background: #643030;
}
.lower{
    height: 20vh;
    background: #441818;
}

.section-rights{
    width: 27vw;
    height: 60vh;
}
.top{
    width: 100%;
    height: 50%;
    background: #937575;
}
.bottom{
    width: 100%;
    height: 50%;
    background: #644C4C;
}

footer{
    height: 20vh;
    background: #BDBDBD;
}

header, div, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
