@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: "Noto Sans TC", sans-serif;
}

#upper{
    background-color: red;
}

#middle{
    background-color: yellow;
}

#lower{
background-color: green;
}

section p{
    width: 90%;
    text-align: center;
    padding-bottom:20px ;
}

section a{
    font-size: 50px;
    color: black;
}
