label{
    display: block;
    margin-top: 10px;
}
form sup{
    color: #9F3919;
}

textarea{
    /* матиме можливість зміни розміру або навпаки заблокувати */
    resize: none;
    width: 140px;
}

.form-registration{
    border: 3px solid green;
    width: 30%;
    border-radius: 20px;
    padding: 50px;
}

input[type=text]{
    background-color: aquamarine;
border: 3px solid green;
    border-radius: 20px;
    color: #FF7143;
    font-family: "Indie Flower", cursive !important;
}
input[type=text]::placeholder {
    color: #FF7143;
}
input[type=text]:focus{
    outline: 2px solid pink;
}
